* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #494949; 
    line-height: 1.5;
    color: #d1d1d1;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10px;
    padding: 20px;
}

body h1 {
    margin-bottom: 50px;
    text-align: center;
    color: #7eb8b8;
}

body p {
    margin-bottom: 30px;
}

body table {
    table-layout: fixed;
    width: 50%;
    min-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 50px;
    background-color: #5a5a5a;
    color: #cecece;
}

body table th, td {
    padding: 06.em;
    margin-bottom: 50px;
    text-align: center;
    border-style: solid;
}

body input {
    border-radius: 5px;
    width: 400px;
    height: 50px;
    border-color: #dadada;
    background-color: #5e5e5e;
    color: #ffffff;
    margin-left: 15%;
    text-align: center;
}

body button {
    background-color: #005252;
    border-color: #dadada;
    color: #dadada;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 40%;
}

body button:hover {
    background-color: #00a3a3;
    border-color: #bebebe;
    color: #ffffff;
}

body button:active {
    background-color: #810000;
    border-color: #dadada;
    color: #FFFFFF;
}

#mensagens {
    margin-top: 20px;
    color: #75cac3;
    font-weight: bold;
}

